/*Schrijf hier jouw CSS*/
body {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

div , main {
    display: flex;
    flex-direction: column;
    flex-basis: 100vw;
    flex-grow: 1;
    flex-shrink: 1;
}

header {
    flex-basis: 20vh;
    flex-grow: 0;
    flex-shrink: 0;
}

article {
    flex-basis: 60vh;
    flex-grow: 1;
    flex-shrink: 1;
}

footer {
    flex-basis: 20vh;
    flex-grow: 0;
    flex-shrink: 0;
}

nav {
    flex-basis: 20vw;
    flex-grow: 0;
    flex-shrink: 0;
}

